<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Storage Volumes</title>
  <!-- Bootstrap 5 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.css" />
  <style type="text/css">
    .sd-usage { width: 50%; }
  </style>
</head>
<body>
<div class="container-fluid">
  <h1>DUL Storage Volumes</h1>

  <p>Information is culled from the Packrat API.  Volume links are to detailed information in the Packrat UI, which is restricted to authorized personnel as managed by Duke OIT.</p>

  <table id="volumes" class="table table-bordered" data-toggle="table" data-search="true" data-search-align="left">
    <thead>
      <tr>
	<th scope="col" data-field="name" class="sd-name">Volume</th>
	<th scope="col" data-field="usage" class="sd-usage">Usage</th>
	<th scope="col" data-field="free" class="sd-free">Free</th>
	<th scope="col" data-field="used" class="sd-used">Used</th>
	<th scope="col" data-field="capacity" class="sd-capacity">Capacity</th>
      </tr>
    </thead>
    <tbody>
      <% volumes.each do |volume| %>
      <tr>
	<td class="sd-name">
	  <a href="https://packrat.oit.duke.edu/volumes/<%= volume.id %>"><%= volume.name %>
	</td>
	<td class="sd-usage">
	  <div class="progress" role="progressbar" aria-label="<%= volume.name %> progress" aria-valuenow="<%= volume.usage %>" aria-valuemin="0" aria-valuemax="100">
	    <div class="progress-bar bg-<%= volume.status %>" style="width: <%= volume.usage %>%"><%= volume.usage %>%</div>
	  </div>
	</td>
	<td class="sd-free" ><%= volume.free %></td>
	<td class="sd-used"><%= volume.used %></td>
	<td class="sd-capacity"><%= volume.capacity %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
  <p class="font-weight-light text-center">
    Powered by StoreDash <%= ENV['APP_VERSION'] %>
  </p>
</div>
<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://unpkg.com/bootstrap-table@1.22.1/dist/bootstrap-table.min.js"></script>
</body>
</html>
